body {
    background-color: #1c1c1e;
    color: #ffffff;
}

.ornament {
    color: #5ad72e; 
}

#first>h1 {
    color: #fff;
}

#first>p {
    color: #515151;
}

#second {
    background-color: #39393b;
}

#second>p {
    color: #8d8d8d;
}

#third {
    background-color: #1c1c1e;
}

#third>h1 {
    color: #fff;
}

#third .content .detail .div_detail>h3 {
    color: #fff;
}

#third .content .detail .div_detail> .txt_detail {
    color: rgba(255, 255, 255, 0.8); 
}
