body {
    background-color: #f5f5f5;
}

main {
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
    color: #333;
}

input {
    border: 1px solid #ddd;
    color: #39393b;
}

button {
    background-color: #4caf50;
    color: #fff;
}

button:hover {
    background-color: #2e7816;
}

.input-group i {
    color: #777;
}

.title{
    color: #000;
}