body {
    background-color: #1c1c1e;
    color: #ffffff;
}

.weekday.container,
.dates.container{
    background-color: #39393b;
    box-shadow: 0 0 20px #333;
}

.weekday.container {
    background-color: #4caf50;
    box-shadow: 0 0 10px #275629;
}

.date.item {
    color: #ffffff;
}

.title.flex-container i {
    color: #4caf50; /* 초록색으로 변경 */
}

.title.flex-container .year,
.title.flex-container .month {
    color: #ffffff;
}

.weekday.item {
    color: #1c1c1e;
}

.date.item {
    color: #ffffff;
}

.item-HOVER {
    border: 2px solid rgb(79, 79, 79);
}

.item-HOVER:hover {
    background-color: #2d2d2d;
}

.review.flex-container {
    background-color: #4d4d4f;
}

.modal-container {
    background: rgba(0, 0, 0, 0.8);
}

.modal {
    background-color: #1c1c1e;
    color: #fff;
    box-shadow: 0 0 10px #4caf50; 
}

#modal_title {
    color: #1c1c1e;
    color: #fff;
}

.sub {
    background-color: #1c1c1e;
}

.sub-text {
    color: #fff;
}

.sub-line {
    background-color: #fff;
}

.sub-title {
    color: #fff;
}

.sub-detail {
    color: #fff;
}

.modal-line {
    background-color: #fff;
}

.item-toDay {
    border: 2px solid #4caf50; /* 초록색으로 변경 */
}

.txt-blue {
    color: #4caf50; /* 초록색으로 변경 */
    border: 2px solid #4caf50; /* 초록색으로 변경 */
}

.txt-red {
    color: #ff0000;
    border: 2px solid #4caf50; /* 초록색으로 변경 */
}

#closeBtn {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}